.header {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 10px;

    &__image {
        height: 50px;
        width: 50px;
    }
}

.right {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: auto;
    display: flex;
    gap: 30px;
    padding-right: 10px;
}

.button {
    border-width: 1px;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    border-color: #6E07F3;
    background: #ffffff;
    color: #6E07F3;
    font-family: sans-serif;
    font-weight: 400;

    &:hover {
        background-color: #6E07F3;
        color: #ffffff;
    }
}