.footer {
    display: flex;
    justify-content: center;
    background: #6E07F3;
    font-family: sans-serif;
    font-weight: 400;

    &__footerbox {
        color: #ffffff;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__text {
        font-size: 15px;
        font-size: "eurostile";
    }

    &__button {
        border-radius: 5px;
        background-color: #6E07F3;
    }

    &__img {
        background: #6E07F3;
        width: 25px;
        height: 25px;
    }
}