*:focus-visible {
  outline: 2px solid var(--p-primary-color);
  outline-offset: 2px;
}

body {
  margin: 0;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

:root {
    --primary-color: #6E07F3;
    --text-color: #000000;
    --bg-color: #ffffff;
}

.my-app-dark {
    --primary-color: #ff69b4;
    --text-color: #ffffff;
    --bg-color: #121212;
}

.footer .pi {
    color: #ffffff !important;
}